@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root{
    font-family: 'Press Start 2P', cursive;
}
@import "../../basic.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.simon {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: clamp(400px, 60vw, 600px); //min,value,max
  height: clamp(400px, 60vw, 600px);
  min-height: 300px;
  background-color: black;
  border-radius: 50%;
  box-shadow: 0 0 1em 0.5em rgb(247, 245, 245), 0 0 0 1em black,
    0 0 5em 2em rgb(247, 245, 245) inset;
  &__topleft {
    background: rgb(228, 196, 15) linear-gradient(rgb(228, 196, 15), white)
      no-repeat;
    border-top-left-radius: 100%;
    background-size: cover;
    box-shadow: 0 0 5px 1px rgb(95, 94, 94);
  }
  &__topright {
    background: rgb(245, 84, 9) linear-gradient(rgb(245, 84, 9), white)
      no-repeat;
    border-top-right-radius: 100%;
    background-size: cover;
    box-shadow: 0 0 5px 1px rgb(95, 94, 94);
  }
  &__bottomleft {
    background: rgb(14, 131, 66) linear-gradient(rgb(14, 131, 66), white)
      no-repeat;
    border-bottom-left-radius: 100%;
    background-size: cover;
    box-shadow: 0 0 5px 1px rgb(95, 94, 94);
  }
  &__bottomright {
    background: rgb(9, 155, 165) linear-gradient(rgb(9, 155, 165), white)
      no-repeat;
    background-size: cover;
    border-bottom-right-radius: 100%;
    box-shadow: 0 0 5px 1px rgb(95, 94, 94);
  }
  
  div {
    cursor: pointer;
    // &:hover {
    //   opacity: 0.7;
    // }
    &:active {
      transform: scale(0.99);
    }
    &.active{
      opacity: .5;
    }
  }
  .controls {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    padding: clamp(1em, 2em, 1em);

    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-auto-rows: auto auto auto;
    justify-content: center;
    align-content: center;
    gap: 1em;

    color: white;
    font-size: .5em;
    background-color: rgb(114, 108, 108);
    border-radius: 50%;
    box-shadow: 0 0 1em .5em black;
    &__title {
      grid-column: 1 / span 3;
      text-align: center;
      font-size: 2em;
    }
    &__start {
      grid-column: 2 / 3;
      width: fit-content;
      height: fit-content;
      padding: .5em 1em;
      text-transform: uppercase;
      background-color: white;
      color: orange;
      border-radius: 50%;
    }
    &__strict,
    &__power,
    &__count {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: .5em;
      text-transform: uppercase;
    }
    &__strict {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    &__count {
      grid-column: 1 / span 3;
    }
    &__output {
      display: block;
      padding: 1em 2em;
      background-color: rgb(61, 58, 70);
    }
  }
}
